/* tabla-------------------*/
@media print {
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }
}

#mitabla {
    
    border-collapse: collapse;
    width: 100%;
}
#mitabla th {
    border: white 1px solid;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #343a40;
    color: white;
    font-size: 16px;
}
#mitabla td {
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;

    font-size: 14px;
}

/*@media print {
    #mitabla th {
        background-color: green !important;
        color: white !important;
       /* -webkit-print-color-adjust: exact; */
   /* }
}

@media print {
    #mitabla td {
        background-color: red !important;
        color: yellow !important;
    }
}*/

#mitabla tr:nth-child(odd){background-color: #fff;}
#mitabla tr:nth-child(even){background-color: #fff;}

#mitabla tr:hover {background-color: rgba(52, 58, 64, 0.3);}

/**** TABLA DETALLE****/

/* tabla-------------------*/
#tabla_detalle {
    
    border-collapse: collapse;
    width: 100%;
}
#tabla_detalle th {
    border: white 1px solid;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right:  2px;
    text-align: center;
    background-color: #343a40;
    color: white;
    font-size: 12px;
}
#tabla_detalle td {
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:  0px;

    font-size: 12px;
}

/*@media print {
    #mitabla th {
        background-color: green !important;
        color: white !important;
       /* -webkit-print-color-adjust: exact; */
   /* }
}

@media print {
    #mitabla td {
        background-color: red !important;
        color: yellow !important;
    }
}*/

#tabla_detalle tr:nth-child(odd){background-color: #fff;}
#tabla_detalle tr:nth-child(even){background-color: #fff;}

#tabla_detalle tr:hover {background-color: rgba(52, 58, 64, 0.3);}

/**** TABLA MODAL FINALIZAR****/

/* tabla-------------------*/
#tabla_fin {
    
    border-collapse: collapse;
    width: 100%;
}
#tabla_fin th {
    border: white 1px solid;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right:  2px;
    text-align: center;
    background-color: #343a40;
    color: white;
    font-size: 12px;
}
#tabla_fin td {
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:  0px;

    font-size: 14px;
}

/*@media print {
    #mitabla th {
        background-color: green !important;
        color: white !important;
       /* -webkit-print-color-adjust: exact; */
   /* }
}

@media print {
    #mitabla td {
        background-color: red !important;
        color: yellow !important;
    }
}*/

#tabla_fin tr:nth-child(odd){background-color: #fff;}
#tabla_fin tr:nth-child(even){background-color: #fff;}

/*#tabla_detalle tr:hover {background-color: rgba(52, 58, 64, 0.3);}





