/* tabla-------------------*/
#mitabla {
    
    border-collapse: collapse;
    width: 100%;
}

#mitabla td {
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;

    font-size: 14px;
}

/*@media print {
    #mitabla th {
        background-color: green !important;
        color: white !important;
       /* -webkit-print-color-adjust: exact; */
   /* }
}

@media print {
    #mitabla td {
        background-color: red !important;
        color: yellow !important;
    }
}*/

#mitabla tr:nth-child(even){background-color: #f1f1f1;}

#mitabla tr:hover {background-color: lightgreen;}

#mitabla th {
    border: white 1px solid;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #343a40;
    color: white;
    font-size: 16px;
}
